
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'), 
       url('../fonts/libre-baskerville-v14-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  font-display: swap; 
  src: url('../fonts/libre-baskerville-v14-latin-700.woff2') format('woff2'),
       url('../fonts/libre-baskerville-v14-latin-700.woff') format('woff'); 
}
*{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}
html{
  height: 100%;
}
body{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Libre Baskerville','Times New Roman', serif;
  font-weight: 400;
} 
img{
  display: block;
  height: auto;
}
.container{
  max-width:1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
/* Start header  */
.header-inner{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
padding: 40px 0;
border-bottom: 1px solid #E5E5E5;
}
.slideshow-link{
  color: #7D7D7D;
text-align: right;
font-size: 12px;
font-weight: 700;
line-height: normal;
letter-spacing: 2.571px;
text-decoration: none;
}
/* Finish header  */
/* Start Slide section */
.slide{
  padding-top: 40px;
  padding-bottom: 40px;
}
.slide-inner{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 310px 40px 310px 40px 310px 40px 310px;
  grid-template-columns: repeat(4, 310px);
  -ms-grid-rows: 200px 40px 200px 40px 200px 40px 200px 40px 200px 40px 200px 40px 200px;
  grid-template-rows: repeat(7, 200px);
  /* gap: 40px ; */
  grid-column-gap: 40px;
  grid-row-gap: 40px;

}
.slide-inner > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;

}
.slide-inner > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 3;

}
.slide-inner > *:nth-child(3){
  -ms-grid-row: 1;
  -ms-grid-column: 5;

}
.slide-inner > *:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-column: 7;

}
.slide-inner > *:nth-child(5){
  -ms-grid-row: 3;
  -ms-grid-column: 1;

}
.slide-inner > *:nth-child(6){
  -ms-grid-row: 3;
  -ms-grid-column: 3;

}
.slide-inner > *:nth-child(7){
  -ms-grid-row: 3;
  -ms-grid-column: 5;

}
.slide-inner > *:nth-child(8){
  -ms-grid-row: 3;
  -ms-grid-column: 7;

}
.slide-inner > *:nth-child(9){
  -ms-grid-row: 5;
  -ms-grid-column: 1;

}
.slide-inner > *:nth-child(10){
  -ms-grid-row: 5;
  -ms-grid-column: 3;

}
.slide-inner > *:nth-child(11){
  -ms-grid-row: 5;
  -ms-grid-column: 5;

}
.slide-inner > *:nth-child(12){
  -ms-grid-row: 5;
  -ms-grid-column: 7;

}
.slide-inner > *:nth-child(13){
  -ms-grid-row: 7;
  -ms-grid-column: 1;

}
.slide-inner > *:nth-child(14){
  -ms-grid-row: 7;
  -ms-grid-column: 3;

}
.slide-inner > *:nth-child(15){
  -ms-grid-row: 7;
  -ms-grid-column: 5;

}
.slide-inner > *:nth-child(16){
  -ms-grid-row: 7;
  -ms-grid-column: 7;

}
.slide-inner > *:nth-child(17){
  -ms-grid-row: 9;
  -ms-grid-column: 1;

}
.slide-inner > *:nth-child(18){
  -ms-grid-row: 9;
  -ms-grid-column: 3;

}
.slide-inner > *:nth-child(19){
  -ms-grid-row: 9;
  -ms-grid-column: 5;

}
.slide-inner > *:nth-child(20){
  -ms-grid-row: 9;
  -ms-grid-column: 7;

}
.slide-inner > *:nth-child(21){
  -ms-grid-row: 11;
  -ms-grid-column: 1;

}
.slide-inner > *:nth-child(22){
  -ms-grid-row: 11;
  -ms-grid-column: 3;

}
.slide-inner > *:nth-child(23){
  -ms-grid-row: 11;
  -ms-grid-column: 5;

}
.slide-inner > *:nth-child(24){
  -ms-grid-row: 11;
  -ms-grid-column: 7;

}
.slide-inner > *:nth-child(25){
  -ms-grid-row: 13;
  -ms-grid-column: 1;

}
.slide-inner > *:nth-child(26){
  -ms-grid-row: 13;
  -ms-grid-column: 3;

}
.slide-inner > *:nth-child(27){
  -ms-grid-row: 13;
  -ms-grid-column: 5;

}
.slide-inner > *:nth-child(28){
  -ms-grid-row: 13;
  -ms-grid-column: 7;

}
.slide-card{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 32px; 
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.84))); 
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.84) 100%); 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.84) 100%);
}
.title{
  margin-top: 0;
  margin-bottom: 7px;
  color: #FFF;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.desc{
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
font-family: Libre Baskerville;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.6;
}
.slide-card:first-child{
  background-image: url("../images/Mask1.png");
  background-repeat: no-repeat;
  background-size: 310px 200px;
}
.slide-card:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  grid-column: 2;
  background-image: url("../images/Mask2.png");
  background-repeat: no-repeat;
  background-size: 310px 440px;
}
.slide-card:nth-child(3){
  -ms-grid-column: 3;
  grid-column: 3px;
  background-image: url("../images/Mask3.png");
  background-repeat: no-repeat;
  background-size: 310px 200px;
}.slide-card:nth-child(4){
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 4;
  grid-column: 4;
  background-image: url("../images/Mask4.png");
  background-repeat: no-repeat;
  background-size: 310px 440px;
}
.slide-card:nth-child(5){
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background-image: url("../images/Mask5.png");
  background-repeat: no-repeat;
  background-size: 310px 440px;
}
.slide-card:nth-child(6){
  -ms-grid-column: 2;
  grid-column: 2;
  background-image: url("../images/Mask-6.png");
  background-repeat: no-repeat;
  background-size: 310px 200px;
}.slide-card:nth-child(7){
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  background-image: url("../images/Mask7.png");
  background-repeat: no-repeat;
  background-size: 310px 680px;
}.slide-card:nth-child(8){
  background-image: url("../images/Mask8.png");
  background-repeat: no-repeat;
  background-size: 310px 200px;
}.slide-card:nth-child(9){
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4/7;
  -ms-grid-column: 1;
  grid-column: 1;
  background-image: url("../images/Mask-9.png");
  background-repeat: no-repeat;
  background-size: 310px 680px;
}.slide-card:nth-child(10){
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
  -ms-grid-column: 2;
  grid-column: 2;
  background-image: url("../images/Mask10.png");
  background-repeat: no-repeat;
  background-size: 310px 440px;
}.slide-card:nth-child(11){
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
  -ms-grid-column: 3;
  grid-column: 3;
  background-image: url("../images/Mask11.png");
  background-repeat: no-repeat;
  background-size: 310px 440px;
}.slide-card:nth-child(12){
  background-image: url("../images/Mask12.png");
  background-repeat: no-repeat;
  background-size: 310px 200px;
}.slide-card:nth-child(13){
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 7;
  grid-row: 7;
  background-image: url("../images/Mask13.png");
  background-repeat: no-repeat;
  background-size: 310px 200px;
}.slide-card:nth-child(14){
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  background-image: url("../images/Mask14.png");
  background-repeat: no-repeat;
  background-size: 310px 440px;
}.slide-card:nth-child(15){
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 7;
  grid-row: 7;
  background-image: url("../images/Mask-15.png");
  background-repeat: no-repeat;
  background-size: 310px 200px;
}.slide-card:last-child{
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5/8;
  -ms-grid-column: 4;
  grid-column: 4px;
  background-image: url("../images/Mask16.png");
  background-repeat: no-repeat;
  background-size: 310px 680px;
}